html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}


header {
	background-color: #696969;
	display: flex;
}


.hamburger { 
	left: 15px;
	top: 30px;
}


.hamburger, 
.hamburger:before,
.hamburger:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 40px;
	background: white;
	position: absolute;
	display: block;
	content: '';
	display: none;

}


.hamburger:before {
  	top: -13px;
}


.hamburger:after {
  	bottom: -13px; 
}


h1 {
	padding: 0;
	margin: 0 0 0 80px;
	width: 100%;
	text-align: center;
}


.container {
	padding: 0;
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
}


/* Table and search menu on the left */
.menu {
	float: left;
	width: 300px;
	background-color: #696969;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.srch {
	position: relative;
	background-color: black;
	margin: auto;
}


.finput {
	background: #fcfcfc;
	border-radius: 5px;
	width: calc(100% - 28px);
	height: 20px;
	margin-bottom: 5px;
}


input:focus {
	border-color: #4d90fe;
}


.srch img {
	width: 20px;
	height: 22px;
	vertical-align: middle;
}


.cbutton {
	position: fixed;
	margin-top: -37px;
	z-index: 1;
	margin-left: 100px;
	border-radius: 2px;
	height: 30px;
	font: 120% bold Georgia, serif;

}


.hidden {
	display: none;
}


table {
	height: 100vw;
}


.listview {
	height: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
	cursor: pointer;
}


.selected {
	background-color: #0d0d0d !important;
	color: white;
}


.listview:hover {
	background-color: #b3b3b3;
}


/*   Map */
.main {
	width: calc(100% - 300px);
	float: right;

	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.mapcanvas {
	width: 100%;
	height: 100vh;
}


.csearch {
	position: fixed;
	margin-top: 10px;
	margin-left: 10px;
	background-color: white;
	opacity: 0.7;
	padding: 20px;
	z-index: 1;
	width: 50%;
}

.csearch label,
.csearch input {
	opacity: 1;
	width: 90%;
	height: 20px;
	color: #006;
}


/*  Responsiveness  */
@media screen and (max-width: 600px) {
   	header {
   		position: relative;
   		height: 80px;
   	}


	.hamburger, 
	.hamburger:before,
	.hamburger:after  {
	 	display: block;
	}


	.closed {
	 	margin-left: -300px;
	}


	.open{
		margin-left: 0;
	}


	.cbutton {
		position: relative;
		margin: 2px 0 5px 10px;
		z-index: 0;
		margin-bottom: 5px;
	}


	.showmap {
	 	width: 100%;
	}


 	.hidemap {
		width: calc(100% - 300px);
	}


	#infowindow {
		max-width: 300px
	}
}


@media screen and (max-width: 321px) {
	h1{
		font-size: 100%;
		margin-top:20px;
	}
}
