html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
header {
	background-color: #696969;
	display: flex;
}
.hamburger {
	border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    background-color: green;
    cursor: pointer;
    padding: 3px 4px 3px;
	display:none;
}
.hamburger div {
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 2px 2px 2px 2px;
	height: 2px;
	width: 90%;
	margin: auto;
	margin-bottom: 5px
}
.hamburger div:first-child{
	margin-top: 8px;
}
h1 {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.container {
	padding: 0;
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
}
/* Table and search menu on the left */
.menu {
	float: left;
	width: 300px;
	background-color: #696969;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.srch {
	position: relative;
	background-color: black;
	margin: auto;
}
input {
	background: #fcfcfc;
	border-radius: 5px;
	width: calc(100% - 24px);
	height: 20px;
}
.srch img {
	width: 20px;
	height: 22px;
	vertical-align: middle;
}
table {
	height: 100vw;
}
.listview {
	height: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
	cursor: pointer;
}
.selected {
	background-color: #0d0d0d !important;
	color: white;
}
.listview:hover {
	background-color: #b3b3b3;
}

/*   Map */

.main {
	width: calc(100% - 300px);
	float: right;

	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.mapcanvas{
	width: 100%;
	height: 100vh;
}

/*  Responsiveness  */

@media screen and (max-width: 600px){
   	header {
   		position: relative;
   		height: 80px;
   	}
	 .hamburger {
	 	position: relative;
	 	display: block;
	 	height: 50%;
	 	width: 50px;
	 	margin: 15px;
	}
	.closed {
	 	margin-left: -300px;
	}
	.open{
		margin-left: 0;
	}
	.showmap {
	 	width: 100%;
	}
 	.hidemap {
		width: calc(100% - 300px);
	}
	#infowindow {
		max-width: 300px
	}
}
